/* RESET START */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font: 14px 'PT Sans', sans-serif;
    font-weight: 400;
    color: #333;
    line-height: 20px;
}
p{
    margin: 0;
}
a{
    color: #005da1;
}
a:hover{
    color: #0090e2;
}
img{
    max-width: 100%;
}
textarea, button{
    outline: none;
    border: none;
}
textarea{
    resize: none;
}
button{
    cursor: pointer;
}
button:focus{
    outline: none;
}
/* RESET END */

/* DEFAULT ELEMENTS START */
.container{
    margin: 0 auto;
    width: 100%;
    max-width: 720px;
    min-width: 360px;
}
.content-wrapper{
    padding: 20px;
}
.text-title{
    font-size: 16px;
    font-weight: bold;
}
.text-sub{
    font-size: 12px;
    color: #808080;
}
.text-table{
    font-size: 13px;
}
/* DEFAULT ELEMENT END */

.user-info__block{
    margin-left: 130px;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 120px;
}
.user-info__block p{
    margin-top: 5px;
    padding: 5px 5px 5px 70px;
    margin-left: -70px;
    background-color: #fffbc8;
    border: 1px solid #cecabf;
    border-radius: 5px;
}
.user-info__block img{
    position: absolute;
    left: -130px;
    top: -5px;
    border-radius: 50%;
    max-width: 120px;
}

.services__block{
    margin-left: 130px;
}
.services__block>span{
    padding-right: calc(12% - 15px);
    display: block;
    text-align: right;
    border-bottom: 1px solid #cecabf;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
table{
    width: 100%;
    border-left: 1px solid #cecabf;
}
table td:first-child{
    width: 76%;
    position: relative;
}
table td:last-child{
    text-align: center;
    font-weight: bold;
}
.progress{
    position: absolute;
    height: 100%;
    left: -2px;
    top: 0;
    z-index: -1;
    border-radius: 0 3px 3px 0;
}
.total{
    margin-top: 10px;
    border-top: 1px solid #cecabf;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.total span{
    display: inline-block;
}
.total span:last-child{
    width: 76%;
    text-align: right;
    padding-right: calc(12% - 9px);
}

.review__block{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.review__block a{
    margin-left: 5px;
}
.review__block .icons span{
    font-size: 12px;
}
.review__block .icons{
    display: flex;
}
.review__block .icons div + div{
    margin-left: 20px;
}
.review__block img{
    vertical-align: middle;
}

.comments__block{
    margin-top: 10px;
}
.comments__block p{
    margin-top: 10px;
    background-color: #f2fbff;
    border: 1px solid #cfcfcf;
    position: relative;
    padding: 12px 17px;
}
.comments__block p:before{
    content: '';
    position: absolute;
    border: 8px solid transparent;
    border-right: 8px solid #cfcfcf;
    transform: rotate(-45deg);
    top: -8px;
    left: 15px;
}
.comments__block p:after{
    content: '';
    position: absolute;
    border: 7px solid transparent;
    border-right: 7px solid #f2fbff;
    transform: rotate(-45deg);
    left: 17px;
    top: -6px;
}
.comments__block .name{
    font-weight: bold;
}
.comments__block .date{
    margin-left: 10px;
    font-size: 11px;
    color: #808080;
}
.comment-item + .comment-item{
    margin-top: 15px;
}

.input__block{
    background-color: #f2f2f2;
}
.input__block .content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
textarea{
    margin-top: 30px;
    border: 1px solid #a9a9a9;
    border-radius: 2px;
    width: 100%;
    height: 60px;
}
button{
    margin: 22px 0 5px;
    display: block;
    width: 100%;
    max-width: 280px;
    height: 40px;
    border-radius: 20px;
    background-color: #fdd639;
}